/* Text */
.BarTitle {color: white; text-align: center;}
.barmenu {background-color: gray;}
.BodyTitle {color: white;}
.BodyText {color: white; font-size: 18px; margin-left: 10px; margin-right: 10px;}
        
/* Divs */
.BodyDiv {background-color: gray; align-items: center; text-align: center; display: flex; margin-top: 15px; justify-content: center;}
.BodyDiv1 {background-color: #1b385d; width: 20%; margin-top: 1%; margin-bottom: 1%; width: fit-content;}
.BodyDiv2 {background-color: #1b385d; width: 20%; margin-left: .5%; margin-top: 1%; margin-bottom: 1%; width: fit-content;}

/* Bar Nav */
.BarNavul {position: -webkit-sticky; position: sticky; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;}
.BarNavli {float: left;}
.BarNavli a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
.BarNavli a:hover {background-color: #111;}
/* Active/Current Page */
.active {background-color: darkblue;}
/* Extras */
.centered {text-align: center; align-content: center; align-self: center; background-color: #333; padding-top: 10px;}
.white-text {color: white; padding-left: 20px; padding-right: 20px; background-color: #1b385d;}