<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="/src/styles/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/src/styles/base.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <title>Lunbin's Links</title>
</head>
<body>
    <!-- Bar Menu -->
    <div class="barmenu">
        <ul class="BarNavul">
            <h1 class="BarTitle">lunprojects.net</h1>
            <hr class="DivHR">
            <li class="BarNavli"><a href="{{url_for('index')}}">Home</a></li>
            <li class="BarNavli"><a href="{{url_for('projects')}}">Projects</a></li>
            <li class="BarNavli" style="float:right"><a href="{{url_for('howlinghaven')}}">Howling Haven</a></li>
            <li class="BarNavli"><a href="{{url_for('links')}}" class="active">Links</a></li>
            <li class="BarNavli"><a id="LoginID" href="{{url_for('login')}}">Login</a></li>
            <li class="BarNavli"><a href="{{url_for('profiles')}}">Profiles</a></li>
            <li class="BarNavli"><a href="{{url_for('lobby')}}">Lobby</a></li>
            <li class="BarNavli"><a href="{{url_for('about')}}">About</a></li>
        </ul>     
    </div>
    <!-- Main Body Div -->
    <div class="BodyDivOnly">
        <div class="BodyDiv1Only">
            <h1 class="BodyTitle">Links</h1>
            <h2 class="BodyText">Here are Lunbin's social media, and just links to his things or his favorite webpages</h2>
        </div>
        <div class="BodyShowCase">
            <div class="links">
                <div style="width:150px;height:155px;margin-left:20px;">
                    <a href="https://www.youtube.com/channel/UCCd8GKUKAT6fKHnSHqeDSlg/"><img src="../src/images/Logos/YouTube_Logo.webp" style="width:120px;height:120px;margin-top:6px;margin-bottom:-30px;"></a>
                    <h1 style="font-size:12px;color:white; margin-bottom: -14px;">(LeeLunbin1)</h1>
                    <h1 class="ShowCaseTitle">YouTube</h1>
                </div>
                <div style="width:150px;height:155px;margin-left:20px;">
                    <a href="https://x.com/christian39775"><img src="../src/images/Logos/X-Logo.png" style="width:80px;height:50px;margin-top:40px;margin-bottom: 6px;"></a>
                    <h1 style="font-size:12px;color:white; margin-bottom: -14px;">(christian39775)</h1>
                    <h1 class="ShowCaseTitle">X</h1>
                </div>
                <div style="width:150px;height:155px;margin-left:20px;">
                    <a href="https://www.tiktok.com/@christian39775"><img src="../src/images/Logos/TikTok_Logo.png" style="width:90px;height:60px;margin-top:35px;margin-bottom: -1px;"></a>
                    <h1 style="font-size:12px;color:white; margin-bottom: -14px;">(christian39775)</h1>
                    <h1 class="ShowCaseTitle">TikTok</h1>
                </div>
                <div style="width:150px;height:155px;margin-left:20px;">
                    <a href="https://github.com/ChristianHiland"><img src="../src/images/Logos/GitHub-Logo.png" style="width:130px;height:70px;margin-top:30px;margin-bottom: -7px;"></a>
                    <h1 style="font-size:12px;color:white; margin-bottom: -14px;">(ChristianHiland)</h1>
                    <h1 class="ShowCaseTitle">GitHub</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>