<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/src/styles/base.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <title>Login -- lunproject.net</title>
</head>
<body>
    <!-- Bar Menu -->
    <div class="barmenu">
        <ul class="BarNavul">
            <h1 class="BarTitle">lunprojects.net</h1>
            <hr class="DivHR">
            <li class="BarNavli"><a href="{{url_for('index')}}">Home</a></li>
            <li class="BarNavli"><a href="{{url_for('projects')}}">Projects</a></li>
            <li class="BarNavli" style="float:right"><a href="{{url_for('howlinghaven')}}">Howling Haven</a></li>
            <li class="BarNavli"><a href="{{url_for('links')}}">Links</a></li>
            <li class="BarNavli"><a id="LoginID" href="{{url_for('login')}}" class="active">Login</a></li>
            <li class="BarNavli"><a href="{{url_for('profiles')}}">Profiles</a></li>
            <li class="BarNavli"><a href="{{url_for('lobby')}}">Lobby</a></li>
            <li class="BarNavli"><a href="{{url_for('about')}}">About</a></li>
        </ul>  
    </div>

    <!-- Main Div -->
    <div class="BodyDiv">
        <div class="BodyDiv2">
            <h2 class="white-text">Welcome, Please Login</h2>
            <!-- Username Input -->
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            
            <!-- Submit Button -->
            <div class="mt-6">
                <button type="submit" onclick="login()" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Log In</button>
                <h2 class="white-text" id="status_text"></h2>
            </div>
        </div>
    </div>
    <script>
        const status_text = document.getElementById("status_text");
        const username_textfield = document.getElementById("username");

        function login() {
            const Data = {
                username: username_textfield.value
            }
            // Saving Username in local storage
            localStorage.setItem("username", Data.username)
            fetch('/login_request', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Data)
            })
            .then(response => {
                
            })
            .then(result => {
                console.log("Login on as " + Data.username);
                status_text.textContent = "Welcome " + Data.username + "!";
                create_profile(Data.username);
            })
        }

        function create_profile(username) {
            const data = {
                Username: username,
                Tags: ["None"]
            }
            // Process Fetch
            fetch('/profile_create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                if (result.Request == "Taken") { status_text.textContent = "Username taken! Logging in..."; }
                else if (result.Request == "Created") { status_text.textContent = "Profile Created! Logging in..."; }
                else if (result.Request == "Error") { status_text.textContent = "Error creating profile! Logging in..."; }
                window.location.href = "http://lunprojects.net/lobby";
            })
            window.location.href = "/lobby";
        }

        if (localStorage.getItem("username") != null) {
            status_text.textContent = "Your already logged-in! as " + localStorage.getItem("username");
        } else {
            status_text.textContent = "";
        }
    </script>
</body>
</html>