<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/src/styles/base.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <title>Profile -- lunproject.net</title>
</head>
<body>
    <!-- Bar Menu -->
    <div class="barmenu">
        <ul class="BarNavul">
            <h1 class="BarTitle">lunprojects.net</h1>
            <hr class="DivHR">
            <li class="BarNavli"><a href="{{url_for('index')}}">Home</a></li>
            <li class="BarNavli"><a href="{{url_for('projects')}}">Projects</a></li>
            <li class="BarNavli" style="float:right"><a href="{{url_for('howlinghaven')}}">Howling Haven</a></li>
            <li class="BarNavli"><a href="{{url_for('links')}}">Links</a></li>
            <li class="BarNavli"><a id="LoginID" href="{{url_for('login')}}">Login</a></li>
            <li class="BarNavli"><a href="{{url_for('profiles')}}" class="active">Profiles</a></li>
            <li class="BarNavli"><a href="{{url_for('lobby')}}">Lobby</a></li>
            <li class="BarNavli"><a href="{{url_for('about')}}">About</a></li>
        </ul>   
    </div>

    <!-- Main Div -->
    <div class="BodyDiv">
        <div class="BodyDiv2">
            <h2 class="white-text">Work In Progress!</h2>
            <h2 class="white-text">This Webpage is soon to come!</h2>
        </div>
    </div>
</body>
</html>