<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="/src/styles/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/src/styles/base.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <title>SocialVR</title>
</head>
<body>
    <!-- Bar Menu -->
    <div class="barmenu">
        <ul class="BarNavul">
            <h1 class="BarTitle">lunprojects.net</h1>
            <hr class="DivHR">
            <li class="BarNavli"><a href="{{url_for('index')}}">Home</a></li>
            <li class="BarNavli"><a href="{{url_for('projects')}}">Projects</a></li>
            <li class="BarNavli" style="float:right"><a href="{{url_for('socialvr')}}" class="active">SocialVR</a></li>
            <li class="BarNavli" style="float:right"><a href="{{url_for('howlinghaven')}}">Howling Haven</a></li>
            <li class="BarNavli"><a href="{{url_for('links')}}">Links</a></li>
            <li class="BarNavli"><a id="LoginID" href="{{url_for('login')}}">Login</a></li>
            <li class="BarNavli"><a href="{{url_for('profiles')}}">Profiles</a></li>
            <li class="BarNavli"><a href="{{url_for('lobby')}}">Lobby</a></li>
            <li class="BarNavli"><a href="{{url_for('about')}}">About</a></li>
        </ul>  
    </div>
    <!-- Main Body Div -->
    <div class="BodyDivOnly">
        <div class="BodyDiv1Only">
            <h1 class="BodyTitle">SocialVR</h1>
            <h2 class="BodyText">SocialVR is a social game that I'm currently working on. It's like VRChat in terms of how it loads Unity scenes, and how you can use the SocialVR SDK to upload your own worlds.</h2>
        </div>
        <hr class="DivHR2">
        <div class="BodyShowCase">
            <div class="projects">
                <h1 class="WhiteText">A Download link will be added here once I make a build of the project.</h1>
            </div>
        </div>
    </div>
</body>
</html>